<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body data-controller="menu"
    data-menu-open-class="is-menu-visible"
    class="is-preload <%= data.layout %> <%= data.page_class %>">

    <div id="page-wrapper">
      <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>
      <%= yield %>
    </div>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
