<header id="header">
  <h1><a href="<%= relative_url '/' %>">Anna Joseph Therapy</a></h1>
  <nav
    id="nav">
    <ul>
      <li data-menu-target="nav"
        class="special">
        <a href="#menu" data-action="menu#toggle"
          class="menuToggle"><span>Menu</span>
        </a>
        <div data-menu-target="menu" id="menu">
          <a data-action="menu#toggle"
            href="#" class="close">
            <%= svg 'images/close.svg' %>
          </a>
          <ul>
            <li><a href="<%= relative_url '/' %>">Home</a></li>
            <li><a href="<%= relative_url '/about' %>">About</a></li>
            <li class="dropdown">
              <a href="#">Specialties</a>
              <ul>
                <li><a href="<%= relative_url '/specialties/healthcare-workers' %>">Healthcare workers</a></li>
                <li><a href="<%= relative_url '/specialties/sex-therapy' %>">Sex therapy</a></li>
                <li><a href="<%= relative_url '/specialties/couples-therapy' %>">Couples therapy</a></li>
                <li><a href="<%= relative_url '/specialties/anxiety-and-ocd' %>">Anxiety and OCD</a></li>
                <li><a href="<%= relative_url '/specialties/emergency-responders' %>">Emergency Responders</a></li>
              </ul>
            </li>
            <li><a href="<%= relative_url '/faq' %>">FAQs</a></li>
            <li><a href="<%= relative_url '/contact' %>">Contact</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
