---
layout: default
title: Contact
---
<article id="main">

  <header class="contact">
    <h2>Contact</h2>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <h3>My Information</h3>
      <p class="flex-row">
        <%= svg "images/pin.svg",class: "icon" %>
        Office in the Denver metro area
      </p>
      <p class="flex-row">
        <%= svg "images/email.svg",class: "icon" %>
        anna@annajosephtherapy.com
      </p>
      <p class="flex-row">
        <%= svg "images/phone.svg",class: "icon" %>
        (720) 574-0527
      </p>
      <p class="flex-row">
        <%= svg "images/fax.svg",class: "icon" %>
        (720) 702-0166
      </p>
    </div>
  </section>

  <section class="spotlight reversed">
    <div class="image"><img src="images/contact01.jpeg" alt="" /></div>
    <div class="content">
      <h3>Have a question?</h3>
      <p>Want to schedule a consultation?<br /></p>
    </div>
  </section>

  <section id="contact-form" class="wrapper style5">
    <div class="inner gtr-uniform">
      <h3>Send me an email</h3>
      <%= render "contact_form" %>
    </div>
  </section>
</article>