---
layout: default
title: Contact
---
<article id="main">

  <header class="contact">
    <h2>Contact Me</h2>
  </header>

  <section class="wrapper style5">
    <div class="inner gtr-uniform">
      <h3>Want to schedule a consultation? Have a question? Get in touch</h3>
      <div class="contact-flex">
        <div class="copy">
          <p>Finding the right therapist isn’t always straightforward. A strong connection and sense of trust between client and therapist creates the foundation for meaningful work and real progress.</p>
          <p>That’s why I offer a free 20-minute consultation – to give you the opportunity to ask questions, share what you're looking for, and get a sense of whether we’re a good fit. If we decide to work together, we’ll move forward with a plan that feels right for you.</p>
        </div>
        <%= render "contact_form" %>
      </div>
    </div>
  </section>

  <section class="spotlight">
    <div class="image"><img src="images/contact01.jpeg" alt="" /></div>
    <div class="content">
      <h3>Anna Joseph Therapy PLLC</h3>
      <p class="flex-row">
        <%= svg "images/pin.svg",class: "icon" %>
        Denver, CO 80220
      </p>
      <p class="flex-row">
        <%= svg "images/email.svg",class: "icon" %>
        anna@annajosephtherapy.com
      </p>
      <p class="flex-row">
        <%= svg "images/phone.svg",class: "icon" %>
        (720) 574-0527
      </p>
      <p class="flex-row">
        <%= svg "images/fax.svg",class: "icon" %>
        (720) 702-0166
      </p>
    </div>
  </section>
</article>
