---
layout: default
page_class: landing
---

<section id="banner">
  <div class="inner">
    <h2>Anna Joseph Therapy</h2>
    <p>Anna Joseph LCSW, MPH<br /></p>
  </div>
  <a href="#one" class="more scrolly">Learn More</a>
</section>

<section id="one" class="wrapper style3 special">
  <div class="inner">
    <header class="major">
      <p>If sexual or relationship struggles, anxiety, or OCD are making it harder to live fully and authentically, you’re not alone. I work with individuals and couples — with particular specialties in supporting healthcare workers and emergency responders — helping clients navigate the complexities of real life with growth, self-acceptance, and emotional flexibility.</p>
      <p>Interested in learning more?</p>
      <a href="<%= relative_url '/contact' %>" class="button primary">Request a consultation</a>
    </header>
  </div>
</section>

<section id="three" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h3>Specialties</h3>
    </header>
    <ul class="features">
      <li>
        <a href="<%= relative_url '/specialties/healthcare-workers' %>">
          <h4>Healthcare workers</h4>
        </a>
      </li>
      <li>
        <a href="<%= relative_url '/specialties/sex-therapy' %>">
          <h4>Sex therapy</h4>
        </a>
      </li>
      <li>
        <a href="<%= relative_url '/specialties/couples-therapy' %>">
          <h4>Couples therapy</h4>
        </a>
      </li>
      <li>
        <a href="<%= relative_url '/specialties/anxiety-and-ocd' %>">
          <h4>Anxiety and OCD</h4>
        </a>
      </li>
      <li>
        <a href="<%= relative_url '/specialties/emergency-responders' %>">
          <h4>Emergency Responders</h4>
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="contact-form" class="wrapper style5">
  <div class="inner gtr-uniform">
    <h3>Get in touch</h3>
    <%= render "contact_form" %>
  </div>
</section>
